<div class="chat_header">
  <div class="room_overview">
  <p>サンプル概要名</p>
  </div>
  <div class="delete_btn">
    <a href="#">チャットを終了する</a>
  </div>
</div>
<div class="messages">
  <div class="message">
    <div class="message_header">
      <div class="poster_name">
        SASARA
      </div>
      <div class="message_date">
        2019/10/30(Wed) 10:31:06
      </div>
    </div>
    <div class="message_content">
      リリース日やで〜よろしゅう！
    </div>
  </div>
  <div class="message">
    <div class="message_header">
      <div class="poster_name">
        REI
      </div>
      <div class="message_date">
        2019/10/30(Wed) 15:06:00
      </div>
    </div>
    <div class="message_content">
      今起きた
    </div>
  </div>
  <div class="message">
    <div class="message_header">
      <div class="poster_name">
        ROSYO
      </div>
      <div class="message_date">
        2019/10/30(Wed) 15:15:15
      </div>
    </div>
    <div class="message_content">
      不健康か
    </div>
  </div>
  <div class="message">
    <div class="message_header">
      <div class="poster_name">
        REI
      </div>
      <div class="message_date">
        2019/10/31(Wed) 22:31:06
      </div>
    </div>
    <div class="message_content">
      リリース&リーダーの誕生日祝い
    </div>
  </div>
  <div class="message">
    <div class="message_header">
      <div class="poster_name">
        SASARA
      </div>
      <div class="message_date">
        2019/10/31(THU) 23:10:02
      </div>
    </div>
    <div class="message_content">
      よんきゅー！
    </div>
  </div>
  <div class="message">
    <div class="message_header">
      <div class="poster_name">
        ROSYO
      </div>
      <div class="message_date">
        2019/10/31(Thu) 23:10:08
      </div>
    </div>
    <div class="message_content">
      さんきゅーや
    </div>
  </div>
  <div class="message">
    <div class="message_header">
      <div class="poster_name">
        REI
      </div>
      <div class="message_date">
        2019/10/31(Thu) 23:51:23
      </div>
    </div>
    <div class="message_content">
      即レス怖
    </div>
  </div>
  <div class="message">
    <div class="message_header">
      <div class="poster_name">
        SASARA
      </div>
      <div class="message_date">
        2019/11/02(Sat) 13:02:03
      </div>
    </div>
    <div class="message_content">
      3杯目もいい塩梅
    </div>
  </div>
  <div class="message">
    <div class="message_header">
      <div class="poster_name">
        ROSYO
      </div>
      <div class="message_date">
        2019/11/02(Sat) 18:00:03
      </div>
    </div>
    <div class="message_content">
      まさかあれ昼飯だったんか
    </div>
  </div>
    <div class="message">
    <div class="message_header">
      <div class="poster_name">
        REI
      </div>
      <div class="message_date">
        2019/11/03(Sun) 00:06:03
      </div>
    </div>
    <div class="message_content">
      若いうちだけだぞ
    </div>
  </div>
  <div class="message">
    <div class="message_header">
      <div class="poster_name">
        SASARA
      </div>
      <div class="message_date">
        2019/11/03(Sun) 00:10:31
      </div>
    </div>
    <div class="message_content">
      おっさんも塩分控えや
    </div>
  </div>

</div>
<div class="form">
  <div class="input_form">
    <input type="text" value="type a message" class="message_form">
    <label class="form_image">
      <span class="image_file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
    <input type="submit" class="submit_btn">
</div>