<div class="side_bar_header">
  <div class="current_user_name">
  <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create_room">
    <%= link_to "チャットを作成する", new_room_path, class: 'generate_btn' %>
  </div>
</div>
<div class="rooms">
  <% current_user.rooms.each do |room| %>
   <div class="room_name">
   <%= link_to room.name, room_messages_path(room) %>
   </div>
  <% end %>
</div>