<div class="side_bar_header">
  <div class="current_user_name">
  <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create_room">
    <a href="#" class="generate_btn">チャットを作成する</a>
  </div>
</div>
<div class="rooms">
  <div class="room_name">
    <a href="#">cafe@report</a>
  </div>
  <div class="room_name">
    <a href="#">meetingroom</a>
  </div>
</div>